.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* ref */
/* https://css-tricks.com/an-auto-filling-css-grid-with-max-columns/ */
.data-list {
  /**
   * User input values.
   */
   --grid-layout-gap: 12px;
   --grid-column-count: 8; /* This gets overridden by an inline style. */
   --grid-item--min-width: 300px; /* This gets overridden by an inline style. */
   
   /**
    * Calculated values.
    */
   --gap-count: calc(var(--grid-column-count) - 1);
   --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
   --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
 
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
   grid-gap: var(--grid-layout-gap);
}

.App-header {
  position: sticky;
  top: 0;
  background-color: #fff; 
  padding: 16px 24px;
  z-index: 1;
  box-shadow: var(--shadow-3);
}

.App-body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px;
}

.card {
  display: flex;
  gap: 8px;
  padding: 8px 12px;
  box-shadow: var(--inner-shadow-1);
  /* border-radius: var(--radius-conditional-3);
  border: var(--border-size-1) solid var(--gray-1); */
}
.card-icon {
  display: flex;
  align-items: center;

  width: 36px;
  /* background-color: red; */
}
.card-icon img {
  width: 100%;
  border-radius: 50%;
}
.card-name {
  align-self: center;
  
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  text-align: left;
}
.card-tagList {
  align-self: center;

  display: flex;
  gap: 4px;
}

.tag {
  color: #666;
}

.LLM-list {
  margin-inline-start: auto;
}
.LLM-list a {
  display: inline-flex;
  align-items: center;
  width: 28px;
}
.LLM-list a:not(:last-child) {
  margin-inline-end: 8px;
}
.LLM-list img {
  max-width: 100%;
}

.short-key {
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  line-height: 0;
  vertical-align: -0.125em;
  border: 1px solid rgb(226, 226, 227);
  padding: 2px 6px;
  border-radius: 4px;
  color: rgba(60, 60, 67, .78);
}
