/* ref */
/* https://css-tricks.com/an-auto-filling-css-grid-with-max-columns/ */
.cardList {
  /**
   * User input values.
   */
   --grid-layout-gap: 16px;
   --grid-column-count: 8; /* This gets overridden by an inline style. */
   --grid-item--min-width: 296px; /* This gets overridden by an inline style. */
   
   /**
    * Calculated values.
    */
   --gap-count: calc(var(--grid-column-count) - 1);
   --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
   --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
 
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
   grid-gap: var(--grid-layout-gap);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-image: var(--card-image);
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cardIcon {
  display: flex;
  align-items: center;

  width: 36px;
}

.cardIcon img {
  width: 100%;
  border-radius: 50%;
}

.cardName {
  align-self: center;
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  text-align: left;
  color: var(--text-1);
}

.tagList {
  display: flex;
  gap: 4px;
}

.tagItem {
  font-size: 12px;
  color: var(--text-2);
}

